body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: #D2E0FB;
}


main {
    flex: 1;
}

.card {
    border-radius: 10px;
}

.list-group li a {
    text-decoration: none;
    color: rgb(21, 21, 21);
}


.card-title {
    font-weight: bold;
}

textarea {
    resize: none;
}

#file-upload {
    display: none;
}

.setMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginRequest {
    text-align: center;
}

.footer {
    width: 100%;
}

