/* initials */
body {
    background: #D2E0FB;
    
}

.color_green {
    color: #619e66;
}

/* header */
.login_signup:hover {
    color: #72BF78;
    transition: 300ms;
}

.hover_blue:hover {
    color: #0D92F4;
}

/* footer secction*/
#footer_text p{
    color: rgb(183, 183, 183);
}
